<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-websockets:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-websockets-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mvc-websockets:war exploded" />
    </root>
  </artifact>
</component>